# for general downloadery and story chomping:
requests

# for rss feeds and reddit:
feedparser

# for twitter stories:
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
pandas

# for wikipedia stories:
bs4
lxml

# for rendering:
WeasyPrint

# for epub creation
ebooklib

# for content parsing
readability-lxml

# for sending to remarkable:
git+https://github.com/j6k4m8/rmapy