# for general downloadery and story chomping:
requests

# for rss feeds and reddit:
feedparser

# for twitter stories:
twint
pandas

# for wikipedia stories:
bs4
lxml

# for rendering:
WeasyPrint

# for sending to remarkable:
git+https://github.com/j6k4m8/rmapy